{
  "openapi": "3.0.3",
  "info": {
    "title": "Qued Webhooks",
    "description": "Subscribe to webhooks to get notified of specific events like appointment scheduling statuses and confirmed appointments.  <p>Customer must subscribe to confirmed appointment notifications, other intermediate scheduling status notifications are optional. Webhooks provide instant, real-time notifications, without requiring you to send API calls at regular time internals in order to detect changes in data.",
    "version": ""
  },
  "servers": [
    {
      "url": "https://apidev.customername.com", 
      "description": "Development environment"
    },
    {
      "url": "https://api.customername.com",
      "description": "Production environment"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "status webhooks",
      "description": "Webhooks for appointment status updates",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://qued.com"
      }
    }
  ],
  "paths": {
    "/v1/appointment": {
      "post": {
        "tags": [
          "status webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Appointment Status update",
        "description": "Create a new webhook to listen for selected events. Qued will call this webhook, if there is any change in the appointments related to the shipping order. Payload will only have the locations/appointments that have a status change and might not have all the locations/appointments related to this shipping order",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderNumber": {
                    "type": "string",
                    "description": "Shipping order Number"
                  },
                  "customerCode": {
                    "type": "string",
                    "description": "Customer Code"
                  },
                  "purchaseOrder": {
                    "type": "string",
                    "description": "Purchase order"
                  },
                  "appointments": {
                    "type": "array",
                    "summary": "Status of one or more location(s) appointments of the shipping order, this will only have the locations/appointments that have a status change and might not have all the locations/appointments related the shipping order",
                    "description": "Status of one or more location appointments of the shipping order",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tmsLocationId": {
                          "type": "string",
                          "example": "WALVG101",
                          "description": "Location ID configured in TMS system. This is the unique ID for each physical location configured in TMS."
                        },
                        "tmsStopId": {
                          "type": "string",
                          "example": "zz1gv27jbse03k4GWCLM01",
                          "description": "Stop ID configured in TMS system. This is the unique ID for each stop. This uniquly identifies the stop with in any order."
                        },
                        "requestedAppointmentDate": {
                          "type": "string",
                          "format": "date"
                        },
                        "requestedPreferredAppointmentTime": {
                          "type": "string",
                          "example": 2300,
                          "description": "Time format in 24 clock and in EST <p>Example 1 :  2300 - for 11:00 PM EST <p>Example 2 :  0030 - for 12:30 AM EST"
                        },
                        "currentAppointmentTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "stopConfirmationCode": {
                          "type": "string",
                          "example": 123453456,
                          "description": "confirmation code, if appointment is confirmed"
                        },
                        "quedAppointmentId": {
                          "type": "string",
                          "example": "Q56789",
                          "description": "Unique appointment ID in Qued System, can be used for rescheduling by passing this ID in future."
                        },
                        "status": {
                          "type": "string",
                          "description": "Appointment Status",
                          "example": "CONFIRMED",
                          "enum": [
                            "REQUESTED",
                            "CONFIRMED",
                            "LOCATION_NOTSUPPORTED",
                            "OPEN",
                            "PROCESSING",
                            "SYSTEM_NA_WAITING",
                            "PREFFEREDTIME_NA (will send avaible options in email)",
                            "MULTIPLEAVIAL (will send available options in email)",
                            "FAILED"
                          ]
                        }
                      },
                      "required": [
                        "locationId",
                        "requestedAppointmentDate",
                        "status"
                      ]
                    }
                  }
                },
                "required": [
                  "orderNumber",
                  "purchaseOrder",
                  "customerCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucessfully received"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AppointmentUpdate": {
        "type": "object",
        "properties": {
          "orderNumber": {
            "type": "string",
            "description": "Shipping order Number"
          },
          "customerCode": {
            "type": "string",
            "description": "Customer Code"
          },
          "purchaseOrder": {
            "type": "string",
            "description": "Purchase order"
          },
          "appointments": {
            "type": "array",
            "summary": "Status of one or more location(s) appointments of the shipping order, this will only have the locations/appointments that have a status change and might not have all the locations/appointments related the shipping order",
            "description": "Status of one or more location appointments of the shipping order",
            "items": {
              "type": "object",
              "properties": {
                "tmsLocationId": {
                  "type": "string",
                  "example": "WALVG101",
                  "description": "Location ID configured in TMS system. This is the unique ID for each physical location configured in TMS."
                },
                "tmsStopId": {
                  "type": "string",
                  "example": "zz1gv27jbse03k4GWCLM01",
                  "description": "Stop ID configured in TMS system. This is the unique ID for each stop. This uniquly identifies the stop with in any order."
                },
                "requestedAppointmentDate": {
                  "type": "string",
                  "format": "date"
                },
                "requestedPreferredAppointmentTime": {
                  "type": "string",
                  "example": 2300,
                  "description": "Time format in 24 clock and in EST <p>Example 1 :  2300 - for 11:00 PM EST <p>Example 2 :  0030 - for 12:30 AM EST"
                },
                "currentAppointmentTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "stopConfirmationCode": {
                  "type": "string",
                  "example": 123453456,
                  "description": "confirmation code, if appointment is confirmed"
                },
                "quedAppointmentId": {
                  "type": "string",
                  "example": "Q56789",
                  "description": "Unique appointment ID in Qued System, can be used for rescheduling by passing this ID in future."
                },
                "status": {
                  "type": "string",
                  "description": "Appointment Status",
                  "example": "CONFIRMED",
                  "enum": [
                    "REQUESTED",
                    "CONFIRMED",
                    "LOCATION_NOTSUPPORTED",
                    "OPEN",
                    "PROCESSING",
                    "SYSTEM_NA_WAITING",
                    "PREFFEREDTIME_NA (will send avaible options in email)",
                    "MULTIPLEAVIAL (will send available options in email)",
                    "FAILED"
                  ]
                }
              },
              "required": [
                "locationId",
                "requestedAppointmentDate",
                "status"
              ]
            }
          }
        },
        "required": [
          "orderNumber",
          "purchaseOrder",
          "customerCode"
        ]
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "tmsLocationId": {
            "type": "string",
            "example": "WALVG101",
            "description": "Location ID configured in TMS system. This is the unique ID for each physical location configured in TMS."
          },
          "tmsStopId": {
            "type": "string",
            "example": "zz1gv27jbse03k4GWCLM01",
            "description": "Stop ID configured in TMS system. This is the unique ID for each stop. This uniquly identifies the stop with in any order."
          },
          "requestedAppointmentDate": {
            "type": "string",
            "format": "date"
          },
          "requestedPreferredAppointmentTime": {
            "type": "string",
            "example": 2300,
            "description": "Time format in 24 clock and in EST <p>Example 1 :  2300 - for 11:00 PM EST <p>Example 2 :  0030 - for 12:30 AM EST"
          },
          "currentAppointmentTime": {
            "type": "string",
            "format": "date-time"
          },
          "stopConfirmationCode": {
            "type": "string",
            "example": 123453456,
            "description": "confirmation code, if appointment is confirmed"
          },
          "quedAppointmentId": {
            "type": "string",
            "example": "Q56789",
            "description": "Unique appointment ID in Qued System, can be used for rescheduling by passing this ID in future."
          },
          "status": {
            "type": "string",
            "description": "Appointment Status",
            "example": "CONFIRMED",
            "enum": [
              "REQUESTED",
              "CONFIRMED",
              "LOCATION_NOTSUPPORTED",
              "OPEN",
              "PROCESSING",
              "SYSTEM_NA_WAITING",
              "PREFFEREDTIME_NA (will send avaible options in email)",
              "MULTIPLEAVIAL (will send available options in email)",
              "FAILED"
            ]
          }
        },
        "required": [
          "locationId",
          "requestedAppointmentDate",
          "status"
        ]
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "X-API-KEY",
        "in": "header",
        "description": "Client Secreat Key"
      }
    }
  }
}
